# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.swp
*.swo

# Virtual environment
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
*.pot
*.py[cod]
__pycache__/
db.sqlite3
media
staticfiles/

# PyCharm
.idea/

# VS Code
.vscode/

# Environment variables
.env
.env.*

# macOS
.DS_Store

# Windows
Thumbs.db
